body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #444;
  margin-bottom: 10px;
}

p {
  margin: 0 0 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #000; 
  color: #fff; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #333;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

nav {
  background-color: var(--color-primary);
  padding: 10px 0;
  color: var(--color-bg);
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav a {
  color: var(--color-bg);
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}
